<!DOCTYPE html>
<html lang="<%= locale.locale %>">

<head>
	<%- include("templates/head-template"); %>
	<meta id="current-page" content="about">
	<title><%= locale.title.about %></title>
</head>

<body>
	<%- include("templates/navbar-template"); %>
	
	<main>
		<h1>Acerca de</h1>
	</main>

	<%- include("templates/footer-template"); %>
</body>
</html>
