<!DOCTYPE html>
<html lang="<%= locale.locale %>">

<head>
	<%- include("templates/head-template"); %>
  <link rel="stylesheet" href="/stylesheets/create.css">
  <script defer src="/vendor/Sortable.min.js"></script>
  <script defer src="/javascripts/recipe_form.js"></script>
  <meta id="current-page" content="create">
  <title><%= locale.title.create %></title>
</head>

<body>

  <%- include("templates/navbar-template"); %>

  <div class="modal" id="uploadModal">
    <div class="modal-card">
      <span class="close">&times;</span>
      <div class="modal-content">
        <div id="modal-upload-form">
          <p><%= locale.recipeForm.JSONUploadText %></p>
          <input type="file" id="JSONFiles" style="display:none" multiple accept="application/json">
          <button type="button" class="button main-button button-centered" id="uploadJSONFilesButton">
            <%= locale.recipeForm.JSONUploadButton %>
          </button>
        </div>
        <div id="modal-upload-results" style="display:none">
          <div class="dummy" id="templateResults">
            <li class="correct">
              <span>
                <i class="bx bx-check icon"></i>
                <span name="fileName">Example</span>
              </span>
              <a href="">
                <%= locale.recipeForm.seeRecipe %>
                <i class="bx bxs-chevron-right"></i>
              </a>
            </li>
            <li class="error">
              <span>
                <i class="bx bx-x"></i>
                <span name="fileName">Example</span>
              </span>
              <span>
                  <%= locale.recipeForm.errorMessage %>
              </span>
            </li>
          </div>

          <ul id="results-list"></ul>

          <button type="button" class="button button-centered" id="resetModalButton" hidden>
            <i class="bx bx-reset"></i>
            <%= locale.recipeForm.resetModal %>
          </button>
        </div>
      </div>
    </div>
  </div>

  <main>
    <button class="button" id="openJSONModalButton">
      <i class="bx bx-upload"></i> JSON
    </button>
    <h1><%= locale.recipeForm.createTitle %></h1>

    <form class="recipe-form" action="/recipe" onsubmit="return validate()" novalidate method="POST" autocomplete="off"
      enctype="multipart/form-data">
      <div class="form-item name">
        <label for="name"><%= locale.recipeForm.nameLabel %></label>
        <input type="text" name="name" id="name" maxlength="128" required placeholder="<%= locale.recipeForm.namePlaceholder %>">
        <p class="error"><%= locale.recipeForm.nameError %></p>
      </div>

      <div class="form-item author">
        <label for="author"><%= locale.recipeForm.authorLabel %></label>
        <input type="text" name="author" id="author" maxlength="64" placeholder="<%= locale.recipeForm.authorPlaceholder %>">
      </div>

      <div class="form-item description">
        <label for="description"><%= locale.recipeForm.descriptionLabel %></label>
        <input type="text" name="description" id="description" maxlength="256" required
          placeholder="<%= locale.recipeForm.descriptionPlaceholder %>">
        <p class="error"><%= locale.recipeForm.descriptionError %></p>
      </div>

      <div class="form-item tags">
        <label for="tags"><%= locale.recipeForm.tagsLabel %></label>
        <div class="tags-container form-input" id="tags-container">
          <input type="text" id="tags-user-input" placeholder="<%= locale.recipeForm.tagsPlaceholder %>" list="tag-datalist">
          <datalist id="tag-datalist"></datalist>
          <input name="tags" type="text" id="tags-input" hidden>
        </div>
      </div>

      <div class="form-item ingredients">
        <label for="ingredients"><%= locale.recipeForm.ingredientsLabel %></label>
        <div class="ingredient-container ingredient-labels">
          <div></div>
          <p class="amount"><%= locale.recipeForm.amountColumnLabel %></p>
          <p class="unit"><%= locale.recipeForm.unitColumnLabel %></p>
          <p class="ingredient"><%= locale.recipeForm.ingredientColumnLabel %></p>
        </div>
        <ul class="ingredients-list" id="ingredients">
          <li class="form-item ingredient-container">
            <div class="handle">
              <i class="bx bx-menu"></i>
            </div>
            <input type="number" name="amount[]" class="amount" min=0 step="any">
            <input type="text" name="unit[]" class="unit">
            <input type="text" name="ingredient[]" class="ingredient" required>
            <button class="button delete-button delete-cross" type="button" onclick="deleteThisIngredient(this);"></button>
          </li>
        </ul>
        <p class="error"><%= locale.recipeForm.ingredientsError %></p>
        <button class="button" type="button" onclick="addIngredient();"><%= locale.recipeForm.addIngredientButton %></button>
      </div>

      <div class="form-item method">
        <label for="method"><%= locale.recipeForm.methodLabel %></label>
        <ol id="method" class="steps-list">
          <li class="step form-item">
            <div class="handle">
              <i class="bx bx-menu"></i>
            </div>
            <textarea name="step[]" rows="5" required></textarea>
            <button class="button delete-button delete-cross" type="button" onclick="deleteThisStep(this);"></button>
            <input type="hidden" name="step_type[]" value="step">
          </li>
        </ol>
        <p class="error"><%= locale.recipeForm.methodError %></p>

        <button type="button" role="button" class="button add-step-button">
          <i class="bx bx-plus" onclick="addStep();"></i>
          <select id="new-step-type">
            <% stepTypes.forEach(type => { %>
              <option value="<%= type.name %>"><%= locale.stepType[type.name] %></option>
            <% }) %>
          </select>
        </button>
      </div>

      <div class="form-item cookingtime">
        <label for="cookingtime"><%= locale.recipeForm.cookingTimeLabel%></label>
        <div class="form-input" id="cookingtime">
          <input type="hidden" name="cookingTime" id="cookingtimeInput">
          <input class="" type="number" id="h" step="1" min="0" pattern="\d*">
          <label for="h">h</label>
          <input class="" type="number" id="m" step="1" min="0" pattern="\d*">
          <label for="m">m</label>
        </div>
        <p class="error"><%= locale.recipeForm.cookingTimeError %></p>
      </div>

      <div class="form-item servings">
        <label for="servings"><%= locale.recipeForm.servingsLabel %></label>
        <input type="number" name="servings" id="servings" step="1" min="1" pattern="\d*">
      </div>

      <div class="form-item image">
        <label for="image"><%= locale.recipeForm.imageLabel %></label>
        <input type="file" name="image" id="image" accept="image/*">
      </div>

      <div class="form-item type">
        <label for="type"><%= locale.recipeForm.typeLabel %></label>
        <select name="type" id="type">
          <% recipeTypes.forEach(type => { %>
            <option value="<%= type.name %>"><%= locale.recipeType[type.name] %></option>
          <% }) %>
        </select>
      </div>

      <div class="form-item submit">
        <button class="button main-button" type="submit"><%= locale.recipeForm.createRecipeButton %></button>
      </div>
    </form>
  </main>

  <%- include("templates/footer-template"); %>
</body>

</html>
