<!DOCTYPE html>
<html lang="es">

<head>
  <link rel="stylesheet" href="/stylesheets/create.css">
  <%- include("templates/head-template"); %>
  <script defer src="/vendor/Sortable.min.js"></script>
  <script defer src="/javascripts/recipe_form.js"></script>
  <meta id="current-page" content="edit">
</head>

<body>

  <%- include("templates/navbar-template"); %>

  <main>
    <h1>Editar: <%= recipe.name %></h1>

    <form class="recipe-form" action="/recipe/<%= recipe.id %>" onsubmit="return validate()" novalidate method="POST" autocomplete="off"
      enctype="multipart/form-data">
      <div class="form-item name">
        <label for="name">Nombre de la receta</label>
        <input type="text" name="recipe_name" id="name" maxlength="128" required placeholder="Nombre" value="<%= recipe.name %>">
        <p class="error">El nombre es obligatorio.</p>
      </div>

      <div class="form-item author">
        <label for="author">Autor</label>
        <input type="text" name="recipe_author" id="author" maxlength="64" placeholder="Autor" value="<%= recipe.author %>">
      </div>

      <div class="form-item description">
        <label for="description">Descripción</label>
        <input type="text" name="recipe_description" id="description" maxlength="256" required
          placeholder="Descripción" value="<%= recipe.description %>">
        <p class="error">Una descripción es obligatoria.</p>
      </div>

      <div class="form-item tags">
        <label for="tags">Etiquetas</label>
        <div class="tags-container form-input" id="tags-container">
          <% let tag_input_content = ""; %> 
          <% recipe.tags
            .filter((tag) => tag.classes.includes("user-tag"))
            .forEach((tag) => { %>
            <% 
              if (tag_input_content.length === 0) {
                tag_input_content = tag.content;
              } else {
                tag_input_content += "," + tag.content;
              }
            %> 
            <div class="tag-view" onclick="removeTagFromInput(this);"><%= tag.content %></div>
          <% }) %>
          <input type="text" id="tags-user-input" placeholder="escribe una etiqueta">
          <input name="tags" type="text" id="tags-input" value="<%= tag_input_content %>" hidden>
        </div>
      </div>

      <div class="form-item ingredients">
        <label for="ingredients">Ingredientes</label>
        <div class="ingredient-container ingredient-labels">
          <div></div>
          <p class="amount">Cantidad</p>
          <p class="unit">Unidad de medida</p>
          <p class="ingredient">Ingrediente</p>
        </div>
        <ul class="ingredients-list" id="ingredients">
          <% recipe.ingredients.forEach(ingredient => { %>
            <li class="form-item ingredient-container">
              <div class="handle">
                <i class="fas fa-bars fa-lg"></i>
              </div>
              <input type="number" name="amount" class="amount" min=0 step="any" value="<%= ingredient.amount %>">
              <input type="text" name="unit" class="unit" value="<%= ingredient.unit %>">
              <input type="text" name="ingredient" class="ingredient" value="<%= ingredient.name %>" required>
              <button class="button delete-button delete-cross" type="button" onclick="deleteThisIngredient(this);"></button>
            </li>
          <% }) %>
          <li class="form-item ingredient-container">
            <div class="handle">
              <i class="fas fa-bars fa-lg"></i>
            </div>
            <input type="number" name="amount" class="amount" min=0 step="any">
            <input type="text" name="unit" class="unit">
            <input type="text" name="ingredient" class="ingredient" required>
            <button class="button delete-button delete-cross" type="button" onclick="deleteThisIngredient(this);"></button>
          </li>
        </ul>
        <p class="error">Al menos un ingrediente.</p>
        <button class="button" type="button" onclick="addIngredient();">Añadir ingrediente</button>
      </div>

      <div class="form-item method">
        <label for="method">Método</label>
        <ol id="method" class="steps-list">
          <% for (const step of recipe.steps) { %>
            <%
              const extraClass = ["", "step-section", "step-note"][step.type];
            %>
            <li class="step form-item <%= extraClass %>">
              <div class="handle">
                <i class="fas fa-bars fa-lg"></i>
              </div>
              <% if (step.type === 1) { %>
                <strong>Sección:</strong>
                <input type="text" name="step" required="" maxlength="128" value="<%= step.content %>">
              <% } else { %>
                <textarea name="step" rows="5" required><%= step.content %></textarea>
              <% } %>
              <button class="button delete-button delete-cross" type="button" onclick="deleteThisStep(this);"></button>
              <input type="hidden" name="step_type" value="<%= step.type %>">
            </li>
          <% } %>
          <li class="step form-item">
            <div class="handle">
              <i class="fas fa-bars fa-lg"></i>
            </div>
            <textarea name="step" rows="5" required></textarea>
            <button class="button delete-button delete-cross" type="button" onclick="deleteThisStep(this);"></button>
            <input type="hidden" name="step_type" value="0">
          </li>
        </ol>
        <p class="error">Un método es obligatorio. Al menos un paso. Cada sección ha de contener al menos un paso y tener un nombre..</p>

        <button type="button" role="button" class="button add-step-button">
          <i class="fas fa-plus" onclick="addStep();"></i>
          <select id="new-step-type">
            <option value="regular" selected>Paso</option>
            <option value="section">Sección</option>
            <option value="note">Nota</option>
          </select>
        </button>
      </div>

      <div class="form-item image">
        <label for="image">Subir nueva imagen</label>
        <input type="file" name="recipe_image" id="image">
        <div class="row">
          <button type="button" onclick="resetImage();" class="button">Cancelar cambio de imagen</button>
          <button type="button" onclick="deleteImage();" class="button delete-button">Eliminar imagen</button>
        </div>
        <input type="hidden" name="recipe_delete_image" id="delete-image" value="false">
        <p id="image-delete-warning">La imagen se va a eliminar!</p>
      </div>

      <div class="form-item type">
        <label for="type">Tipo de plato</label>
        <select name="recipe_type" id="type">
          <option value="none">Sin especificar</option>
          <option value="starter">Entrante</option>
          <option value="main">Plato principal</option>
          <option value="dessert">Postre</option>
        </select>
      </div>

      <div class="form-item submit">
        <button class="button main-button" type="submit">Guardar cambios</button>
      </div>
    </form>
  </main>

  <%- include("templates/footer-template"); %>
  
  <script>
    document.getElementById("type").selectedIndex = <%= recipe.type || 0 %>;

    const image_input = document.getElementById("image");
    const delete_input = document.getElementById("delete-image");

    image_input.addEventListener('change', () => {
      delete_input.value = "false";
    })

    function resetImage() {
      image_input.value = "";
      delete_input.value = "false";
    }

    function deleteImage() {
      resetImage();
      delete_input.value = "true";
    }
  </script>
</body>

</html>
