<!DOCTYPE html>
<html lang="<%= locale.locale %>">

<head>
	<%- include("elements/head"); %>
  <link rel="stylesheet" href="/css/grid.css">
  <script defer src="/vendor/unicodePatterns.min.js"></script>
  <script defer src="/js/grid.js"></script>
  <meta id="current-page" content="index">
  <title>Recetario</title>
</head>

<body>

  <%- include("elements/navbar"); %>

  <main>
    <section class="basic-grid">
      <% for (const recipe of recipes) { %>
      <a href="/recipe/<%= recipe.id %>" alt="<%= recipe.name %>" class="card-link">
        <div class="card" id="<%= recipe.id %>">
          <div class="card-image">
            <img src="<%= recipe.imageURL; %>" alt="">
          </div>
          <div class="card-body">
            <div class="card-name">
              <h3><%= recipe.name %></h3>
            </div>
            <div class="card-description">
              <%= recipe.description %>
            </div>
          </div>
        </div>
      </a>
      <% } %>
    </section>
  </main>

  <%- include("elements/footer"); %>

</body>

</html>
