<!DOCTYPE html>
<html lang="en">

<%- include templates/head-template %>

<body>

	<%- include templates/navbar-template %>

	<!-- Page Content -->
	<div class="container">

		<div class="row">

			<!-- Sidebar Widgets Column -->
			<div class="col-lg-3">

				<div class="sticky-top" style="top: 65px;">
					<!-- Ingredients Widget -->
					<div class="card my-4">
						<h5 class="card-header">Ingredients</h5>
						<div class="card-body">
							<ul class="list-group list-group-flush">
								<% for (const ingredient of recipe.ingredients) { %>
								<li class="list-group-item">
									<%= ingredient.amount %>
									<%= ingredient.unit %>
									&nbsp;
									<%= ingredient.name %>
								</li>
								<% } %>
							</ul>
						</div>
					</div>
				</div>

			</div>

			<!-- Post Content Column -->
			<div class="col-lg-8">

				<!-- Title -->
				<h1 class="mt-4"><%= recipe.name %></h1>

				<!-- Author -->
				<p class="lead">
					by
					<a href="#"><%= recipe.author %></a>
				</p>

				<hr>

				<!-- Date/Time -->
				<p>Posted on <span id="posted-date"><%= recipe.CREATED_AT %></span></p>

				<hr>

				<!-- Preview Image -->
				<img class="img-fluid rounded" src="/recipes/images/<%= recipe.image %>" alt="Image of the recipe">

				<hr>

				<!-- Post Content -->
				<h3>Method</h3>
				<ol class="recipe-method">
					<% for (const step of recipe.method) { %>
					<li class="recipe-step">
						<p class="recipe-step"><%= step %></p>
					</li>
					<% } %>
				</ol>

			</div>

		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->

	<%- include templates/footer-template %>

	<script>
		const element = document.getElementById("posted-date");
		const p = element.innerText.split(/[ :-]/);
		const date = new Date(Date.UTC(p[0], p[1], p[2], p[3], p[4], p[5]));
		const options = {
			year: 'numeric',
			month: 'long',
			day: 'numeric'
		};

		const locale = (() => {
			if (navigator.languages) {
				return navigator.languages[0];
			} else {
				return navigator.language;
			}
		})()

		element.innerText = date.toLocaleDateString(locale, options);
	</script>

</body>

</html>