<!DOCTYPE html>
<html lang="<%= locale.locale %>">

<head>
  <%- include("elements/head"); %>
  <link rel="stylesheet" href="/css/recipe.css">
  <script defer src="/vendor/unicodePatterns.min.js"></script>
  <script defer src="/js/recipe_view.js"></script>
  <title><%= recipe.name %></title>
</head>

<body>

  <%- include("elements/navbar"); %>

  <article>
    <header class="banner">
      <div class="image-container">
        <img class="recipe-image" src="<%= recipe.imageURL %>" alt="">
      </div>
      <div class="banner-content">
        <div class="chevron">
          <i class='bx bx-chevron-down' ></i>
        </div>
      </div>
    </header>

    <div class="fg-wrapper">
      <main class="recipe">
        <header class="recipe-header">
          <h1 id="recipe-name"><%= recipe.name %></h1>
        </header>

        <section class="recipe-about">
          <% if (recipe.author) { %>
          <p class="author"><%= recipe.author %></p>
          <% } %>
          <p class="date"><%= locale.recipeView.publicationDate %>
            <time datetime="<%= recipe.CREATED_AT %>" class="date-to-format">
              <%= recipe.CREATED_AT %>
            </time>
            <% if (recipe.CREATED_AT !== recipe.UPDATED_AT) { %>
            (<%= locale.recipeView.edited %>)
            <% } %>
          </p>
          <div class="about-text">
            <p class="description"><%= recipe.description %></p>
          </div>
        </section>

        <section class="recipe-tags">
          <div class="system-tags tags-container">
            <% recipe.systemTags(locale).forEach(tag => { %>
              <%
                let query = undefined;
                if (tag.classes.includes('type-tag')) {
                  const type = tag.classes.find(c => c.includes('recipe-')).split('-')[1]
                  query = `types=${type}`;
                } else if (tag.classes.includes('time-tag')) {
                  let time = 0;
                  for (const part of tag.name.split(" ")) {
                    if (part.includes("m")) {
                      time += Number(part.slice(0, part.length - 3));
                    } else {
                      time += Number(part.slice(0, part.length - 1)) * 60;
                    }
                  }
                  query = `cookingTime=${time}`;
                }
                // servings makes no sense... amounts can be recalculated
              %>
              <% if (query) { %>
                <a class="tag system-tag <%= tag.classes.join(' ') %>" href="/search?<%= query %>">
                  <%= tag.name %>
                </a>
              <% } else { %>
                <span class="tag system-tag <%= tag.classes.join(' ') %>">
                  <%= tag.name %>
                </span>
              <% } %>
            <% }) %>
          </div>

          <div class="user-tags tags-container">
            <% recipe.tags.forEach(tag => { %>
              <a href="/search?tags=<%= tag.name %>" class="tag user-tag">
                <%= tag.name %>
              </a>
            <% }) %>
          </div>
        </section>

        <section class="ingredients-container">
          <input type="checkbox" id="ingredients-button" class="toggle">
          <label for="ingredients-button" class="mobile-only ingredients-button-label"><i
              class='bx bx-basket'></i></label>
          <div class="ingredients">
            <button type="button" id="convertUnitsButton" class="button no-print"><i
                class="bx bx-transfer bx-sm"></i></button>
            <h2><%= locale.recipeView.ingredientsLabel %></h2>
            <div class="ingredients-list">
              <table class="ingredients-table">
                <% for (const ingredient of recipe.ingredients) { %>
                <tr>
                  <td>
                    <span class="ingredient-amount"><%= ingredient.amount %></span>
                    <span class="ingredient-unit"><%= ingredient.unit %></span>
                  </td>
                  <td>
                    <span class="ingredient-name"><%= ingredient.name %></span>
                  </td>
                </tr>
                <% } %>
              </table>
            </div>
          </div>
        </section>

        <hr>

        <section class="method">
          <h2><%= locale.recipeView.methodLabel %></h2>
          <ol>
            <% for (const step of recipe.steps) { %>
            <% if (step.type === 0) { %>
            <li class="step"><%= step.content %></li>
            <% } else if (step.type === 1) { %>
          </ol>
          <h3><%= step.content %></h3>
          <ol>
            <% } else if (step.type === 2) { %>
            <div class="step step-note"><%= step.content %></div>
            <% } %>
            <% } %>
          </ol>
        </section>

        <div class="recipe-buttons no-print">
          <% 
            const filename = `${recipe.id}-${encodeURI(recipe.name.replace(/ /g, "_"))}.json`;
          %>
          <a href="/api/recipe/<%= recipe.id %>" download="<%= filename %>">
            <button type="button" class="button">
              <i class="bx bx-download"></i> JSON
            </button>
          </a>

          <a href="/recipe/<%= recipe.id %>/edit">
            <button type="button" class="button edit-button">
              <i class="bx bxs-edit"></i> <%= locale.recipeView.editButton %>
            </button>
          </a>

          <button type="button" class="button delete-button" onclick="deleteRecipe();">
            <i class="bx bxs-trash"></i> <%= locale.recipeView.deleteButton %>
          </button>
        </div>
      </main>
    </div>
  </article>

  <%- include("elements/footer"); %>
</body>

</html>
