<!DOCTYPE html>
<html lang="es">

<%- include templates/head-template %>

<body>

	<%- include templates/navbar-template %>

	<!-- Page Content -->
	<div class="container">

		<div class="row">

			<!-- Sidebar Widgets Column -->
			<div class="col-lg-3">

				<div class="sticky-top" style="top: 65px;">
					<!-- Ingredients Widget -->
					<div class="card my-4">
						<h5 class="card-header">Ingredientes</h5>
						<div class="card-body">
							<ul class="list-group list-group-flush">
								<% for (const ingredient of recipe.ingredients) { %>
								<li class="list-group-item">
									<%= ingredient.amount %>
									<%= ingredient.unit %>
									&nbsp;
									<%= ingredient.name %>
								</li>
								<% } %>
							</ul>
						</div>
					</div>
				</div>

			</div>

			<!-- Post Content Column -->
			<div class="col-lg-8">

				<!-- Title -->
				<div class="row">
					<div class="col-sm-8">
						<h1 class="mt-4"><%= recipe.name %></h1>
					</div>
					<div class="col-sm-4">
						<div class="row mt-sm-4">
							<div class="col">
								<button id="editButton" class="btn btn-warning">
									Editar
								</button>
							</div>
							<div class="col">
								<button id="deleteButton" class="btn btn-danger" data-toggle="modal"
									data-target="#deleteModal">
									Eliminar
								</button>
							</div>
						</div>
					</div>
				</div>

				<!-- Delete confirmation modal -->
				<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" data-backdrop="static">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Confirmación de eliminar</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<p>¿Está seguro de que desea eliminar la receta?</p>
								<p>Escriba el nombre de la receta para confirmar:</p>
								<input class="form-control" type="text" name="nameConfirmation" id="nameConfirmation"
									placeholder="<%= recipe.name %>">
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
								<button type="button" class="btn btn-danger"
									onclick="deleteConfirmation()">Confirmar</button>
							</div>
						</div>
					</div>
				</div>

				<!-- Alert -->
				<div id="deleteConfirmationAlert" class="alert alert-warning" role="alert" hidden>
					Esta receta ha sido eliminada con éxito. Será redirigido en unos segundos.
				</div>

				<!-- Author -->
				<p class="lead">
					por 
					<a href="#"><%= recipe.author %></a>
				</p>

				<hr>

				<!-- Date/Time -->
				<p>Publicado el <span id="posted-date"><%= recipe.CREATED_AT %></span></p>

				<hr>

				<!-- Preview Image -->
				<img class="img-fluid rounded" src="/recipes/images/<%= recipe.image %>" alt="Image of the recipe">

				<hr>

				<!-- Post Content -->
				<h3>Método</h3>
				<ol class="recipe-method">
					<% for (const step of recipe.method) { %>
					<li class="recipe-step">
						<p class="recipe-step"><%= step %></p>
					</li>
					<% } %>
				</ol>

			</div>

		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->

	<%- include templates/footer-template %>

	<script>
		const element = document.getElementById("posted-date");
		const p = element.innerText.split(/[ :-]/);
		const date = new Date(Date.UTC(p[0], p[1], p[2], p[3], p[4], p[5]));
		const options = {
			year: 'numeric',
			month: 'long',
			day: 'numeric'
		};

		const locale = (() => {
			if (navigator.languages) {
				return navigator.languages[0];
			} else {
				return navigator.language;
			}
		})()

		element.innerText = date.toLocaleDateString(locale, options);
	</script>

	<script>
		function editRecipe() {

		}

		function deleteConfirmation() {
			const input = document.getElementById("nameConfirmation");

			const request = new XMLHttpRequest();

			request.onreadystatechange = function () {
				if (this.readyState == 4 && this.status == 200) {
					if (this.responseText === "delete ok") {
						$('#deleteModal').modal('hide');
						document.getElementById("deleteButton").disabled = true;
						document.getElementById("editButton").disabled = true;
						document.getElementById("deleteConfirmationAlert").hidden = false;
						setTimeout(() => { window.location = "/" }, 3000);
					} else if (this.responseText === "wrong input") {
						input.classList.add("is-invalid");
					}
				}
			}

			request.open("POST", "<%= recipe.id %>/delete", true);
			request.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
			request.send("userInput=" + input.value);
		}
	</script>

</body>

</html>