<!DOCTYPE html>
<html lang="<%= locale.locale %>">

<head>
  <%- include("templates/head-template"); %>
  <link rel="stylesheet" href="/stylesheets/recipe.css">
  <script defer src="/javascripts/recipe_view.js"></script>
  <title><%= recipe.name %></title>
</head>

<body>

  <%- include("templates/navbar-template"); %>

  <main>
    <article class="recipe" style="--recipe-image: url(/recipes/images/<%= recipe.image %>);">

      <header class="recipe-header" style>
        <h1 id="recipe-name"><%= recipe.name %></h1>
        <% if (recipe.author) { %>
        <p class="author"><%= recipe.author %></p>
        <% } %>
        <p class="date"><%= locale.recipeView.publicationDate %>
          <span class="date-to-format"><%= recipe.CREATED_AT %></span>
          <% if (recipe.CREATED_AT !== recipe.UPDATED_AT) { %>
          (<%= locale.recipeView.edited %>)
          <% } %>
        </p>
      </header>

      <div class="recipe-tags">
        <div class="system-tags tags-container">
          <% recipe.systemTags(locale).forEach(tag => { %>
            <span class="tag system-tag <%= tag.classes.join(' ') %>">
              <%= tag.name %>
            </span>
            <% }) %>
        </div>
  
        <div class="user-tags tags-container">
          <% recipe.tags.forEach(tag => { %>
            <span class="tag user-tag">
              <%= tag.name %>
            </span>
          <% }) %>
        </div>
      </div>

      <section class="recipe-about">
        <div class="about-text">
          <p class="description"><%= recipe.description %></p>
        </div>
        <div class="image-container mobile-hidden">
          <img class="recipe-image" src="<%= recipe.imageURL %>" alt="Image of the recipe">
        </div>
      </section>

      <section class="ingredients-container">
        <input type="checkbox" id="ingredients-button" class="toggle">
        <label for="ingredients-button" class="mobile-only ingredients-button-label">🗒</label>
        <div class="ingredients">
          <button type="button" id="convertUnitsButton" class="button"><i class="fas fa-exchange-alt"></i></button>
          <h2>Ingredientes</h2>
          <div class="ingredients-list">
            <table class="ingredients-table">
              <% for (const ingredient of recipe.ingredients) { %>
              <tr>
                <td>
                  <span class="ingredient-amount"><%= ingredient.amount %></span>
                  <span class="ingredient-unit"><%= ingredient.unit %></span>
                </td>
                <td>
                  <span class="ingredient-name"><%= ingredient.name %></span>
                </td>
              </tr>
              <% } %>
            </table>
          </div>
        </div>
      </section>

      <hr>

      <section class="method">
        <h2>Método</h2>
        <ol>
          <% for (const step of recipe.steps) { %>
            <% if (step.type === 0) { %>
              <li class="step"><%= step.content %></li>
            <% } else if (step.type === 1) { %>
              </ol>
              <h3><%= step.content %></h3>
              <ol>
            <% } else if (step.type === 2) { %>
              <div class="step step-note"><%= step.content %></div>
            <% } %>
          <% } %>
        </ol>
      </section>

      <div class="recipe-buttons">
        <button type="button" class="button edit-button" onclick="editRecipe();"><i class="fas fa-edit"></i> Editar</button>
        <button type="button" class="button delete-button" onclick="deleteRecipe();"><i class="fas fa-trash-alt"></i>
          Eliminar</button>
      </div>

    </article>
  </main>

  <%- include("templates/footer-template"); %>
</body>

</html>
