<!DOCTYPE html>
<html lang="es">

<head>
  <%- include("templates/head-template"); %>
  <link rel="stylesheet" href="/stylesheets/recipe.css">
</head>

<body>

  <%- include("templates/navbar-template"); %>

  <main>
    <article class="recipe" style="--recipe-image: url(/recipes/images/<%= recipe.image %>);">

      <header class="recipe-header" style>
        <h1 id="recipe-name"><%= recipe.name %></h1>
        <% if (recipe.author) { %>
        <p class="author">Por <%= recipe.author %></p>
        <% } %>
        <p class="date">Publicado el
          <span class="date-to-format"><%= recipe.CREATED_AT %></span>
          <% if (recipe.CREATED_AT !== recipe.UPDATED_AT) { %>
          (editada)
          <% } %>
        </p>
      </header>

      <div class="tags-container">
        <% tags.forEach(tag => { %>
        <span class="tag <%= tag.classes.join(' ') %>">
          <%= tag.content %>
        </span>
        <% }) %>
      </div>

      <section class="recipe-about">
        <div class="about-text">
          <p class="description"><%= recipe.description %></p>
        </div>
        <div class="image-container mobile-hidden">
          <img class="recipe-image" src="/recipes/images/<%= recipe.image %>" alt="Image of the recipe">
        </div>
      </section>

      <section class="ingredients-container">
        <input type="checkbox" id="ingredients-button" class="toggle">
        <label for="ingredients-button" class="mobile-only ingredients-button-label">🗒</label>
        <div class="ingredients">
          <h2>Ingredientes</h2>
          <div class="ingredients-list">
            <table class="ingredients-table">
              <% for (const ingredient of recipe.ingredients) { %>
              <tr>
                <td>
                  <%= ingredient.amount %> <%= ingredient.unit %>
                </td>
                <td>
                  <%= ingredient.name %>
                </td>
              </tr>
              <% } %>
            </table>
          </div>
        </div>
      </section>

      <hr>

      <section class="method">
        <h2>Método</h2>
        <ol>
          <% for (const step of recipe.method) { %>
          <li><%= step %></li>
          <% } %>
        </ol>
      </section>

      <div class="recipe-buttons">
        <button type="button" class="edit-button" onclick="editRecipe();"><i class="fas fa-edit"></i> Editar</button>
        <button type="button" class="delete-button" onclick="deleteRecipe();"><i class="fas fa-trash-alt"></i>
          Eliminar</button>
      </div>

    </article>
  </main>

  <%- include("templates/footer-template"); %>


  <script>
    // Tapping on an ingredient marks it
    const rows = document.querySelectorAll(".ingredients-table tr");

    for (let row of rows) {
      row.addEventListener("click", (event) => {
        event.currentTarget.classList.toggle("marked");
      });
    }
  </script>
  <script>
    // When on mobile, rescale the title text to fit if needed
    function rescaleMobileTitle() {
      if (screen.width < 767) {
        const title = document.getElementById("recipe-name");
        const parent = title.parentElement;

        let current_size = 50;
        title.style.fontSize = current_size + "px";

        while (current_size > 1 && (
          title.offsetWidth > parent.offsetWidth ||
          title.offsetHeight > parent.offsetHeight - 70 ||
          title.scrollWidth > title.offsetWidth
        )) {
          current_size--;
          title.style.fontSize = current_size + "px";
        }
      }
    }
    rescaleMobileTitle();
    window.onresize = rescaleMobileTitle;
  </script>

  <script>
    function editRecipe() {
      const location = window.location;
      const url = [location.protocol, '//', location.host, location.pathname].join('');
      window.location.replace(url + "/edit");
    }

    function deleteRecipe() {
      const r = confirm("¿Estás seguro de querer eliminar la receta?");

      if (r) {
        const location = window.location;
        const url = [location.protocol, '//', location.host, location.pathname].join('');
        const req = new Request(url, {
          method: "DELETE"
        });

        fetch(req)
          .then(response => {
            if (response.status === 200) {
              return response.json();
            } else {
              throw new Error("Error in delete request");
            }
          })
          .then(response => {
            // Notify to the user
            addAlert("La receta se ha eliminado. Una vez salgas de esta página no podrás volver. Puede que algunos enlaces ya no funcionen.", {
              type: "warning",
              scrollback: true
            });
            // setTimeout(() => window.location.replace("/"), 1000);
          })
          .catch(error => {
            console.error(error);
            addAlert("No se pudo eliminar la receta.", {
              type: "error",
              scrollback: true,
              candismiss: true
            });
          })
      }
    }
  </script>
</body>

</html>
