<!-- Navigation -->
<nav class="navbar">
  <ul class="navbar-nav">
    <li class="logo-container">
      <a href="/" class="logo nav-link">
        <img src="/images/favicon.ico" alt="">
        <span class="link-text mobile-hidden">Recetario</span>
      </a>
    </li>
    <li class="search-container mobile-hidden">
      <form class="searchbox" action="/search" method="GET">
        <input type="search" id="navbar-search-input" placeholder="<%= locale.navigation.search %>" name="name">
        <button type="submit" id="search-button"><i class="bx bx-search-alt bx-sm"></i></button>
      </form>
    </li>
    <li class="menu-container">
      <input type="checkbox" id="burger-toggle" class="toggle">
      <label for="burger-toggle" class="burger-container mobile-only">
        <div class="burger">
          <div class="line top"></div>
          <div class="line mid"></div>
          <div class="line bot"></div>
        </div>
      </label>
      <ul class="menu">
        <li id="nav-home" class="nav-item">
          <a href="/" class="nav-link">
            <span class="link-text"><%= locale.navigation.home %></span>
          </a>
        </li>
        <li class="nav-item mobile-only">
          <a href="/search" class="nav-link">
            <span class="link-text"><%= locale.navigation.search %></span>
          </a>
        </li>
        <li id="nav-create" class="nav-item">
          <a href="/create" class="nav-link">
            <span class="link-text"><%= locale.navigation.create %></span>
          </a>
        </li>
        <li id="nav-settings" class="nav-item">
          <a href="/settings" class="nav-link">
            <span class="link-text"><%= locale.navigation.settings %></span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
